.card-body{
    /* Please DONT DELETE THIS, it avoids overflowing */
    overflow: hidden;
    overflow-x: auto;
    clear: both;
    width: 100%;
}

table.roomTable{
  /* display:none; */
  display:block;
  margin-top:2%;
  width:80%;
  /* border: 2px solid #7999b2; */
  border-collapse: collapse;

}
table.bookingTable{
  margin-top:2%;
  width:80%;
  /* border: 2px solid #7999b2; */
  border-collapse: collapse;

}
.cell{
  border:2px solid #7999b2;
}




.expandBooking,.expandRoom{
  width:70%;
  word-break: keep-all;
  /* border: 2px solid black; */

}

.debuggingMsg{
  color:red;
}




/* For Debugging */

/* @media only screen and (min-width: 768px) {
  .tableCell{
    /* color: #FFFFFF;
    background-color: #b3c1ca; */
  }
} */

/* .roomTableTopCell{
color:red;
} */
